@mixin font-color($colors){
    color: $colors;
}

@mixin font-alignment($alignment){
    text-align: $alignment;
}

@mixin font-shapes($family, $weight){
    font-family: $family;
    font-weight: $weight;
}

@mixin font-sizes($sizes){
    font-size: $sizes;
}

.container{
    position: relative;
    margin-top: 6.5rem;

    .section_title{
        @include font-shapes('Montserrat', 700);
        @include font-alignment(center);
    }
    
    .section_paragraph{
        @include font-shapes('Roboto', 400);
        @include font-alignment(center);
    }      
}


.content_card{
    position: relative;
    margin: 0.5rem;

    &_item{
        width: 100%;
        max-height: 11rem;
    }

    &_overlay{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98.5%;
        text-align: right;
        padding: 0.5rem;
        box-sizing: border-box;
        //backdrop-filter: blur(2px);
        opacity: 0.7;
        background-color: #572EE5;
        z-index:0;
        transform: rotateX(90deg) scale(0.01);
        transition: all 0.4s ease;
        


        &_button_favorite{

            background-image: url('/icons/icon-fav.svg');
            background-repeat:no-repeat;
            width: 2rem;
            height: 2rem;
            border-radius: 6px;
            border:none;
            cursor: pointer;


            &:hover{
                
                background-image: url('/icons/icon-fav-hover.svg');
                background-repeat:no-repeat;
                //background-position: 100%;
            }
        }

        &_button_download{
            background-image: url('/icons/icon-download.svg');
            background-repeat:no-repeat;
            width: 2rem;
            height: 2rem;
            border-radius: 6px;
            border:none;                  
            cursor: pointer;

            /*&:hover{
                background-image: url('/icons/icon-download-hover.svg');
                background-repeat:no-repeat;
                //background-position: 100%;
            }*/
        }

        &_button_screen{
            background-image: url('/icons/icon-max-normal.svg');
            background-repeat:no-repeat;
            width: 2rem;
            height: 2rem;
            border-radius: 6px;
            border:none;
            cursor: pointer;

            &:hover{
                background-image: url('/icons/icon-max-hover.svg');
                background-repeat:no-repeat;
                //background-position: 100%;
            }
        }

        &_user{
            @include font-shapes('Roboto', 400);
            @include font-sizes(15px);
            @include font-color(#FFFFFF);
            @include font-alignment(left);
        }

        &_title{
            @include font-shapes('Roboto', 700);
            @include font-sizes(16px);
            @include font-color(#FFFFFF);
            @include font-alignment(left);
        }

    }

    &:hover &_overlay{
        transform: rotateX(0) scale(1);
    }


        /*&_overlay{
            display: none;
        }*/

        .modal {
            display: none;
            position: fixed;
            z-index: 1; 
            padding-top: 50px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            background-color: white;
        
            &_content{
                margin:auto;
                //width: 54.5%;
                display:flex;
                flex-direction: column;
            }
            &_close {
                //position: absolute;
                //top: 0.5em;
                //right: 5em;
                margin-right: 3rem;
                align-self: flex-end;
                color: #572EE5;
                font-size: 2rem;
                transition: 0.3s;
                cursor: pointer;
            }
        
            &_img{
                margin: 3rem auto auto auto;
                display: block;
                width: 89%;
                max-width: 43.44rem;
                max-height: 23rem;
               
                //height: 24.06rem;
            }
    
            &_self{
    
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                &_information{
                    margin-top: 1rem;
                    &_name {
                        margin: 1rem auto 1rem auto;
                        display: block;    
                        @include font-shapes('Roboto', 400);
                        @include font-sizes(15px);
                        @include font-color(black);
                        @include font-alignment(left);
                    }
                    &_title{
                        margin: 1rem auto 1rem auto;
                        display: block;    
                        @include font-shapes('Roboto', 700);
                        @include font-sizes(16px);
                        @include font-color(black);
                        @include font-alignment(left);
                    }
                }
                
                &_button{
    
                    margin-top: 1rem;
    
                    &_favorite{
        
                        background-image: url('https://jedc12.github.io/gifos/icons/icon-fav.svg');
                        background-repeat:no-repeat;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 6px;
                        border:none;
                        cursor: pointer;
            
            
                        &:hover{
                            
                            background-image: url('/icons/icon-fav-hover.svg');
                            background-repeat:no-repeat;
                            //background-position: 100%;
                        }
                    }
            
                    &_download{
                        background-image: url('/icons/icon-download.svg');
                        background-repeat:no-repeat;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 6px;
                        border:none;                  
                        cursor: pointer;
            
                        &:hover{
                            background-image: url('/icons/icon-download-hover.svg');
                            background-repeat:no-repeat;
                            //background-position: 100%;
                        }
                    }
                }
            }       
    
        }
    
}
